<%include ../layouts/header.ejs%>
<h1><%=title%></h1>
<form>
	用户：<input type="text" name="user_name"/></br>
	密码：<input type="text" name="user_psw"/></br>
	<input type="submit" value="提交"/>
</form>
<%include ../layouts/footer.ejs%>